.terms-and-condition-page {
    --background: #ffffff;
    --padding-start: 15px;
    --padding-end: 15px;
    text-align: center;
    ion-img {
        height: 125px;
    }
    h6 {
        margin: 20px 0;
    }
    ion-checkbox{
        -webkit-margin-end: 15px;
        margin-inline-end: 14px;
    }
}

.user-img-wrap {
    text-align: center;
    position: relative;
    height: 130px;
    width: 130px;
    margin: 0 auto;
}

.user-image {
    height: 130px;
    width: 130px;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid #C2BFC2;
}

.add-img-icon {
    position: absolute;
    right: -18px;
    bottom: 35px;
    font-size: 40px;
    color: #933734;
    background: white;
    border-radius: 50%;
}

.tnc-content{
    height: 33%;
    overflow-y: scroll;
    border: 2px solid #e1e1e1;
    padding-left: 10px;
    font-size: 9px;
    margin-bottom: 2%;
    color: #5b5b5b;
}






