<ion-content padding class="login-options-page" fullscreen>
    <ion-img src="assets/images/charactify-logo.png"></ion-img>
    <ion-button size="large" expand="block" class="custom-button login-button" (click)="goToLogin()">
            <ion-icon slot="start" name="log-in"></ion-icon>
        Login
    </ion-button>

    <ion-button style="margin-top: 2%;" size="large" expand="block" class="custom-button signup-button" (click)="goToSignUp()">
        <ion-icon slot="start" name="person-add"></ion-icon>
        Sign up
    </ion-button>
</ion-content>