<ion-header transparent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="reset-password-page" fullscreen>
    <div class="header-label">Reset Password ?</div>

    <ion-img class="custom-user-img" src="assets/images/forgot-img.png"></ion-img>

    <div class="todo-msg">Reset password ?</div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()" [ngStyle]="{'margin-top': !resetPasswordForm.valid && formSubmitted ? '5%' : '15%' }">
        <p class="form-invalid" *ngIf="!resetPasswordForm.valid && formSubmitted">All fields are required.</p>
        <app-error-handler #errorHandler></app-error-handler>
        <ion-input class="custom-input" placeholder="E-mail Address" formControlName="email" [disabled]="true">
            <ion-icon name="mail" class="input-icon"> </ion-icon>
        </ion-input>
        <p class="invalidMsg" *ngIf="!resetPasswordForm.controls.email.valid  && (resetPasswordForm.controls.email.dirty || formSubmitted)">
            Please enter your E-mail.</p>
        <ion-input clear-on-edit="false" class="custom-input" type="password" placeholder="New Password" formControlName="password">
            <ion-icon name="lock" class="input-icon"> </ion-icon>
        </ion-input>
        <p class="invalidMsg" *ngIf="!resetPasswordForm.controls.password.valid  && (resetPasswordForm.controls.password.dirty || formSubmitted)">
            Please enter password.</p>

        <ion-input clear-on-edit="false" class="custom-input" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <ion-icon name="lock" class="input-icon"> </ion-icon>
        </ion-input>
        <p class="invalidMsg" *ngIf="!resetPasswordForm.controls.confirmPassword.valid  && (resetPasswordForm.controls.confirmPassword.dirty || formSubmitted)">
            Confirm password doesn't match.</p>
        <ion-button size="large" expand="block" class="custom-button" type="submit">
            Reset
        </ion-button>
    </form>
</ion-content>