<ion-header class="education-update-modal-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>        
        <ion-title> Edit profile pic</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class="profile-crop-updateModal">
    <app-error-handler #errorHandler></app-error-handler>
    <div class="cropImage container">
        <angular-cropper #angulacontainerrCropper [cropperOptions]="cropperOptions" [imageUrl]="selectedImg"></angular-cropper>
        <ion-row>
            <ion-col col-4 class="text-center">
                <ion-button color="secondary" fill="outline" icon-left (click)="rotate()">
                    <ion-icon name="refresh"></ion-icon> 90 deg
                </ion-button>
            </ion-col>
            <ion-col col-4 class="text-center">
                <ion-button color="secondary" fill="outline" (click)="scaleX()">
                    Flip X
                </ion-button>
            </ion-col>
            <ion-col col-4 class="text-center">
                <ion-button color="secondary" fill="outline" (click)="scaleY()">
                    Flip Y
                </ion-button>
            </ion-col>
            <!-- <ion-col col-3 class="text-center">
                <ion-button color="secondary" fill="outline" (click)="reset()">
                    Reset
                </ion-button>
            </ion-col> -->
        </ion-row>
    </div>
</ion-content>

<ion-footer class="comment-footer">
    <ion-toolbar>
            <!-- <ion-row>
                    <ion-col col-3 class="text-center">
                        <ion-button color="secondary" fill="outline" icon-left (click)="rotate()">
                            <ion-icon name="refresh"></ion-icon> 90 deg
                        </ion-button>
                    </ion-col>
                    <ion-col col-3 class="text-center">
                        <ion-button color="secondary" fill="outline" (click)="scaleX()">
                            Flip X
                        </ion-button>
                    </ion-col>
                    <ion-col col-3 class="text-center">
                        <ion-button color="secondary" fill="outline" (click)="scaleY()">
                            Flip Y
                        </ion-button>
                    </ion-col>
                    <ion-col col-3 class="text-center">
                        <ion-button color="secondary" fill="outline" (click)="reset()">
                            Reset
                        </ion-button>
                    </ion-col>
                </ion-row>
                <br><br><br> -->
        <ion-row>
            <ion-col text-right>
                <ion-button color="primary" class="send-request-btn" size="small" shape="round"
                    (click)="getCropedImage()">
                    Save
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>