<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="forgot-password-page" fullscreen>
    <div class="header-label">Forgot Password?</div>

    <ion-img class="custom-user-img" src="assets/images/forgot-img.png"></ion-img>

    <div class="todo-msg">Enter the E-mail associated <br> with your account.</div>
    <p>We will send you a verification code <br> to reset your password.</p>
    <app-error-handler #errorHandler></app-error-handler>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" [ngStyle]="{'margin-top': !forgotPasswordForm.valid && formSubmitted ? '5%' : '15%' }">
        <ion-input class="custom-input" placeholder="E-mail" formControlName="EmailID">
            <ion-icon name="mail" class="input-icon"> </ion-icon>
        </ion-input>
        <p class="form-invalid" *ngIf="!forgotPasswordForm.controls.EmailID.valid  && (forgotPasswordForm.controls.EmailID.dirty || formSubmitted)">
            Please enter your E-mail.</p>
        <ion-button size="large" expand="block" class="custom-button" type="submit">
            Send
        </ion-button>
    </form>
</ion-content>