<ion-content class="after-intro-page" text-center>
    <div class="content-wrap">
        <div class="welcome-title"><b>Excited yet?</b></div>
        <div class="turorial-text">
            <ion-row style="margin-bottom:25px;">
                <ion-col text-right>
                    <ion-button class="yes-btn continue-btn" shape="round" size="small" (click)="updateStatus(true)">Yes</ion-button>
                </ion-col>
                <ion-col text-left>
                    <ion-button class="no-btn continue-btn" shape="round" size="small" (click)="updateStatus(false)">No</ion-button>
                </ion-col>
            </ion-row>
        </div>
        <ion-img data-src="assets/images/tutorial-img/tutorial-3.gif" class="slide-3-img"></ion-img>
    </div>
</ion-content>