<ion-header class="others-rating-header">
    <ion-toolbar>
        <ion-buttons slot="start">            
            <ion-icon slot="icon-only" name="arrow-back" (click)="navigateBack()"></ion-icon>
        </ion-buttons>        
        <ion-title>
            <img alt="logo" height="40" src="assets/images/header-logo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="others-rating-page">
    <app-error-handler #errorHandler></app-error-handler>    
    <ion-grid>
        <ion-row style="height: 152px;">
            <ion-col text-center>
                <ion-avatar>
                    <img [src]="paramData.userprofilepic ? paramData.userprofilepic : 'assets/images/default-avatar.png'">
                </ion-avatar>
                <h6 class="ion-text-capitalize">{{paramData.firstname}} {{paramData.lastname}}</h6>
            </ion-col>
            <ion-col text-center>
                <ion-avatar>
                    <img src="assets/images/round-trait-circle/big-circle.png">
                </ion-avatar>
                <span class="average-rating-text">{{averageRating ? averageRating : 0.0 | number : '1.1-2'}}</span>
                    <h6 class="ion-text-capitalize">Score</h6>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list class="category-block" no-padding>        
        <ion-item lines="none" [disabled]="disableCategory" [ngClass]="categoryshake">
            <ion-label>Category</ion-label>
            <ion-select class="custom-select" *ngIf="!disableCategory" [(ngModel)]="categoriesListModel.category" interface="popover" (ionChange)="categoryChangeEvent()">
                <ion-select-option [value]="item.Category" *ngFor="let item of categoryList">{{item.name}}
                </ion-select-option>
            </ion-select>
            <span *ngFor="let da of categoryList">
                    <p *ngIf="disableCategory"> {{da.Category == categoriesListModel.category ? da.name : ''}}</p>
            </span>
        </ion-item>

        <ion-item [disabled]="disableCategory" [ngClass]="subCategoryshake">
            <ion-label>Sub-Category</ion-label>
            <ion-select class="custom-select" *ngIf="!disableCategory" [disabled]="!categoriesListModel.category" interface="popover" [(ngModel)]="categoriesListModel.subCategory" (ionChange)="updateRatings()">
                <ion-select-option [value]="item.Category" *ngFor="let item of subCategoryList">{{item.name}}
                </ion-select-option>
            </ion-select>            
            <span *ngFor="let sub of subCategoryList">
                    <p *ngIf="disableCategory"> {{sub.Category == categoriesListModel.subCategory ? sub.name : ''}}</p>
            </span>
        </ion-item>
    </ion-list>

    <ion-slides pager="true" #slideWithNav style="min-height: 440px; background: #fff;">
        <ion-slide *ngFor="let number of [0,1,2,3,4]; let i = index">
            <ion-list lines="none" no-padding style="max-width: 85%;">
                <div class="rating-card" *ngFor="let item of traitObj | slice: 2*i: (2*i)+2">
                    <ion-item no-padding>
                        <ion-img [src]="item.Image" class="traits-img"></ion-img>
                        <ion-label class="ion-text-wrap" style="-webkit-margin-start: 8px; margin-inline-start: 8px;"> {{item.TraitMsg}}.</ion-label>
                    </ion-item>
                    <ion-item [disabled]="!(remaningDaysToUpdate <= 0)" no-padding>
                        <ion-label class="rating-btn-wrap">
                            <ion-row>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 1}" (click)="item.Score = 1; updateRatings();">1</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 2}" (click)="item.Score = 2; updateRatings();">2</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 3}" (click)="item.Score = 3; updateRatings();">3</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 4}" (click)="item.Score = 4; updateRatings();">4</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 5}" (click)="item.Score = 5; updateRatings();">5</div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 6}" (click)="item.Score = 6; updateRatings();">6</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 7}" (click)="item.Score = 7; updateRatings();">7</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 8}" (click)="item.Score = 8; updateRatings();">8</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 9}" (click)="item.Score = 9; updateRatings();">9</div>
                                </ion-col>
                                <ion-col>
                                    <div [class]="item.ClassName" [ngClass]="{'selected-box': item.Score == 10}" (click)="item.Score = 10; updateRatings();">10</div>
                                </ion-col>
                            </ion-row>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-list>
        </ion-slide>
    </ion-slides>

    <div *ngIf="!(remaningDaysToUpdate <= 0) && remaningDaysToUpdate != ''">{{remaningDaysToUpdate}} Days to update the ratings.</div>

    <ion-row no-padding>
        <ion-col no-padding>
            <ion-button [disabled]="!(remaningDaysToUpdate <= 0)" size="large" class="custom-button custom-button-reset" (click)="resetRatings()">
                Reset
            </ion-button>
        </ion-col>
        <ion-col no-padding>
            <ion-button [disabled]="!enableSave || categoriesListModel.category == '' || categoriesListModel.subCategory == undefined || categoriesListModel.subCategory == '' || categoriesListModel.subCategory == undefined" size="large" class="custom-button" (click)="confirmationBox()">
                Charactify
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>